@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Passion+One&display=swap');

:root{
    --font1: Verdana, 'Geneva', Tahoma, sans-serif;
    --font2: 'Passion One', 'cursive';
    --font3: 'Caveat', 'cursive';
}

*{
  margin: 0px;
  padding: 0px;
}

html, body{
    background-color: darkcyan;
    min-height: 100vh;
}

header{
    background-color: black;
}

header > h1{
    color: aliceblue;
    text-align: center;
    padding-top: 50px;
  /*capslok - text-transform: uppercase;*/
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 8vw;

}

header > p{
    color: aliceblue;
    text-align: center;
    padding-bottom: 50px;
    font-family: var(--font1);
}

header a{
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
}

header a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal{
    background-color: rgb(58, 98, 133);

}

section.imagem{
    background-color: blueviolet;
    color: aliceblue;
    box-shadow: inset 6px 6px 14px rgba(0, 0, 0, 0.43);
    background-size: cover;
    background-attachment: fixed;
}

section#img1{
    background-image: url('imagens/background001.jpg');
}

section#img2{
    background-image: url('imagens/background002.jpg');
}

section > p{
    background-color: rgb(192, 115, 115);
    width: 300px;
    padding-left: 30px;
    padding-bottom: 3.5%;
    font-size: 1.5em;
    font-family: var(--font3);
    text-shadow: 1px 1px 0px black;
}